/*
Próximos arreglos:

- Boton de subida 
- pagina personajes


Comandos git:
- git add .
- git commit -m " "
- git push origin main

-git checkout main
-git merge nombre-rama

Comandos sass:
- npm init
- sass --watch scss/style.scss css/style.css
*/




/*Index*/
/*Personajes*/
/*J.K. Rowling*/



/*Tienda*/
.navEnTienda{
    margin-top: 3%;
    background-color: #040d18;
}
.tienda{
    background-color: #C7B4A1;
}
.navTienda{
    display: inline;
}


.navTienda ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
} 

.navTienda li{
    color: #040d18;
    font-size: 1.5vw;
    margin: 0 3%;
}

.logo{
    height: 7vw;
    
    
    
}

.icon{
    height: 2vw; 
}


.inicioTienda{
    background-image: url("../imagenes/fondoTienda.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20% 0;
    
}
.inicioTienda h2{
    background-color: #040d18;
    font-size: 4vw;
    margin: 5% 0;
    color: #C7B4A1;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

.categorias{
    margin: 5% 0;
    color: #C7B4A1;
    text-shadow: 5px 1px 15px #261f1a;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}
.categorias div{
    margin: 5% 0;
}

.categorias div div div{
    font-size: 2.5vw;
    padding: 10% 0;
    margin: 0 3%;
}

.varitas{
    background-image: url("../imagenes/varitas.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.ropa{
    background-image: url("../imagenes/ropa.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.dulces{
    background-image: url("../imagenes/dulces.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}