/*
Próximos arreglos:

- Boton de subida 


Comandos git:
- git add .
- git commit -m " "
- git push origin main

-git checkout main
-git merge nombre-rama

Comandos sass:
- npm init
- sass --watch scss/style.scss css/style.css
*/




/*Index*/

/*Barra de navegación del index*/
.barraInicio {
    background-image: url("../imagenes/fondoInicio.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #040d18;
}
.barraInicio {
    animation-duration: 4s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
        margin-left: 50%;
        width: 150%
    }
  
    to {
        margin-left: 0%;
        width: 100%;
    }
  }

/*Inicio del index*/

.inicio h1 {
    color: #C7B4A1;
    text-align: center;
    font-size: 9vw;
    font-family: 'Henny Penny', cursive;
    padding-top: 7%;
    margin-top: 5%;
    text-shadow: 10px 1px 1px #2c2621;
}

.inicio h2{
    color: #C7B4A1;
    margin-left: 55%;
    font-size: 8vw;
    font-family: 'Henny Penny', cursive;
    text-shadow: 10px 1px 1px #2c2621;
}
/*Historia*/
.historiaHogwarts{
    margin: 5% 0;
}

.historiaHogwarts h2{
    color: #C7B4A1;
    font-size: 5vw;
    text-align: center;
    margin: 3%;
    font-family: 'Henny Penny', cursive;
}

.historiaHogwarts h2::before, .historiaHogwarts h2::after {
    content: "--";
    height: 3px;
    color: #827365;
    font-family: 'Barlow', sans-serif;;
}

.historiaHogwarts h2::before {
    margin-right: 2.5rem;
}

.historiaHogwarts h2::after {
    margin-left: 2.5rem;
}

.historiaHogwarts p{
    color: #C7B4A1;
    font-size: 1.5vw;
    text-align: center;
    margin: 3%;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

#historiaHogwarts img, #historiaHogwarts p{
    margin: 3% 1%;
    align-self: center;
}
/*Casas*/
.casasHogwarts{
    padding: 5% 0;
    background-image: url("../imagenes/fondoCasasHogwarts.jpg");
    background-size:auto;
}

.casasHogwarts img{
    display: block;
    margin: 3% 5%;

}

.casasHogwarts img:hover{
    transform: scale(1.1,1.1);
    animation: jello-horizontal 0.9s both;
}

@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }



.casasHogwarts h2{
    color: #040d18;
    text-shadow: 5px 1px 1px #827365;
    font-size: 5vw;
    text-align: center;
    margin: 3%;
    font-family: 'Henny Penny', cursive;
}
.casasHogwarts h2::before, .casasHogwarts h2::after {
    content: "--";
    height: 3px;
    color: #827365;
    font-family: 'Barlow', sans-serif;;
}

.casasHogwarts h2::before {
    margin-right: 2.5rem;
}

.casasHogwarts h2::after {
    margin-left: 2.5rem;
}

/*Carrusel index*/
.carrusel{
    margin: 10% 0;
    padding: 5% 0; 
    background-image:url("../imagenes/fondoCarrusel.jpg");
}






/*Datos curiosos index*/
.datosCuriosos{
    margin-bottom: 10%;
}
.datosCuriosos h2{
    color: #C7B4A1;
    font-size: 5vw;
    text-align: center;
    margin: 0 3%;
    font-family: 'Henny Penny', cursive;
}

#ordenDatos{
    align-items: stretch;
}

.dato{
    background-color: #081521;
    margin: 3%;
}

#ordenDatos p{
    padding: 5%;
    color: #C7B4A1;
    font-size: 1.5vw;
    margin: 0 5%;
    line-height: 150%;
    text-align: center;
}

#ordenDatos img{
    display: block;
    height: 15vw;
    margin: 5% auto;
    
}

@media screen and (max-width: 900px){
    .barraInicio {
        background-image: url("../imagenes/castilloTablet.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color:#040d18 ;
    }
    .inicio{
        padding: 125px 0;
    }
    .inicio h1{
        font-size: 11vw;
    }
    .inicio h2{
        font-size: 10vw;
    }
    .casasHogwarts h2{
        font-size: 7vw;
    }
    .historiaHogwarts h2{
        font-size: 7vw;
    }
    .historiaHogwarts p{
        font-size: 2.5vw;
    }
    .carrusel{
        margin: 20% 0;
    }
    .datosCuriosos h2{
        font-size: 7vw;
    
    }
    #ordenDatos p{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px){
    .barraInicio {
        background-image: url("../imagenes/castilloCelular.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #00415B;
    }
    .inicio{
        padding-bottom: 160px 0;
    }
    .inicio h1{
        font-size: 14vw;
    }
    .inicio h2{
        font-size: 13vw;
    }
    .casasHogwarts h2{
        font-size: 10vw;
    }
    .historiaHogwarts h2{
        font-size: 10vw;
    }
    .historiaHogwarts p{
        font-size: 3.5vw;
    }
    .carrusel{
        margin: 20% 0;
    }
    .datosCuriosos h2{
        font-size: 10vw;
    
    }
    #ordenDatos p{
        font-size: 3.5vw;
    }
    #ordenDatos img{
        height: 35vw;
    }
}

 



/*Personajes*/


.listas{
    padding-top: 5%;

}
.listas h2{
    color: #C7B4A1;
    font-size: 7vw;
    text-align: center;
    margin: 0 3%;
    font-family: 'Henny Penny', cursive;
}

.listas h2::before, .listas h2::after {
    content: "--";
    height: 3px;
    color: #827365;
    font-family: 'Barlow', sans-serif;;
}

.listas h2::before {
    margin-right: 2.5rem;
}

.listas h2::after {
    margin-left: 2.5rem;
}

.listas ul {
    padding: 0;
}

.listas ul li{
    color: #C7B4A1;
    font-size: 1.5vw;
    list-style: none;
    text-align: center;
}

.listas ul li img {
    height: 15vw;
    padding: 20% 5% 0 5%;
    display: block;
    margin: auto;
}

#series {
    display: block;
    font-size: 4vw;
    margin: 10% 0; 
    color: #C7B4A1;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

@media screen and (max-width: 900px){
    .listas ul li{
        font-size: 2vw;
    }

    .listas ul li img {
        height: 18vw;
        
    }
    #series{
        font-size: 6vw;
    }
    .listas h2{
        font-size: 9vw;
    }

}

@media screen and (max-width: 650px){
    .listas ul li{
        font-size: 3vw;
    }
    .listas ul li img {
        height: 28vw;
    }
    #series{
        font-size: 9vw;
    }
    .listas h2{
        font-size: 11vw;
    }
}



.listas .seriePrincipal, .listas .serieAF, .listas .serieHogwarts, .listas .listaPersonajes{
    margin: 8%;
}

.listas .seriePrincipal li, .listas .serieAF li, .listas .serieHogwarts li, .listas .listaPersonajes li{
    margin: 3%;
}


@media screen and (max-width: 800px){
    
    .listas ul li img {
        padding-top: 20%;
    }
    
}


/*Personajes*/
.fondoPersonajes{
    background-color: #040d18;
    background-image: url("../imagenes/fondoPersonajes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.personajes{
    padding: 20% 0;
}

.fondoPersonajes h2{
    font-size: 4vw;
    color: #C7B4A1;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    background-color: #040d18;

}

@media screen and (max-width: 900px){
    
    .fondoPersonajes{
        background-image: url("../imagenes/personjesTablet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .personajes{
        padding: 190px 0;
    }
    .fondoPersonajes h2{
        font-size: 6vw;
        
        
        
    }
}

@media screen and (max-width: 600px){
    
    
    .fondoPersonajes{
        background-image: url("../imagenes/PersonajesCelures.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .personajes{
        padding: 230px 0;
    }
    .fondoPersonajes h2{
        font-size: 9vw;
    
    }
}







/*J.K. Rowling*/

.jk h2{
    font-size: 4vw;
    margin: 5% 0;
    color: #C7B4A1;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}
.jk img{
    display: block;
    height: 50vw;
    margin: 0 auto;
}

.jk p{
    font-size: 1.7vw;
    margin: 5% 10% ;
    color: #C7B4A1;
    line-height: 200%;
    text-align: justify;
}

.jk ul{
    color: #C7B4A1;
    font-size: 1.5vw;
    list-style: none;
    padding: 0;
}

.jk ul li{
    margin: 7% 3%;
    line-height: 200%;
    text-align: justify;
}

@media screen and (max-width: 900px){
    .jk h2{
        font-size: 6vw;
    
    }

    .jk img{
        height: 70vw;
    }

    .jk p{
        font-size: 2.5vw;
    }
    .jk ul li{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px){
    .jk h2{
        font-size: 9vw;
    
    }
    .jk img{
        height: 90vw;
    }
    .jk p{
        font-size: 3vw;
    }
    .jk ul li{
        font-size: 3vw;
    }
}





/*Tienda*/
.navEnTienda{
    margin-top: 3%;
    background-color: #040d18;
}
.tienda{
    background-color: #C7B4A1;
}
.navTienda{
    display: inline;
}


.navTienda ul{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
} 

.navTienda li{
    color: #040d18;
    font-size: 1.5vw;
    margin: 0 3%;
}

.logo{
    height: 7vw;
    
    
    
}

.icon{
    height: 2vw; 
}


.inicioTienda{
    background-image: url("../imagenes/fondoTienda.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 20% 0;
    
}
.inicioTienda h2{
    background-color: #040d18;
    font-size: 4vw;
    margin: 5% 0;
    color: #C7B4A1;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

.categorias{
    margin: 5% 0;
    color: #C7B4A1;
    text-shadow: 5px 1px 15px #261f1a;
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
}
.categorias div{
    margin: 5% 0;
}

.categorias div div div{
    font-size: 2.5vw;
    padding: 10% 0;
    margin: 0 3%;
}

.varitas{
    background-image: url("../imagenes/varitas.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.ropa{
    background-image: url("../imagenes/ropa.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.dulces{
    background-image: url("../imagenes/dulces.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}