* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #040d18;
  background-image: url("../imagenes/fondoEstrellas.png");
  background-position: center center;
  background-size: 100%;
  font-family: "Times New Roman", Times, serif;
}

header {
  padding-bottom: 2%;
}
header nav {
  padding: 2%;
}
header nav:hover {
  background-color: #040d18;
  transition: all ease-in-out 0.5s;
}
header nav ul {
  justify-content: center;
  display: flex;
  padding: 0;
}
header nav ul li {
  margin: 0 3%;
  list-style: none;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}
header nav ul li:hover {
  transform: scale(1.1, 1.1);
  transition: ease 0.3s;
}
header nav ul li a {
  color: wheat;
  text-decoration: none;
  font-size: 1.7vw;
}
header nav ul li a:hover {
  color: wheat;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: wheat;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
header nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

footer {
  display: block;
  background-color: #040d18;
  margin-top: 7%;
  padding: 3% 0 7% 0;
  text-align: center;
}
footer h6 {
  color: wheat;
  font-size: 1.7vw;
  display: inline-block;
  margin-bottom: 3%;
  font-family: "Times New Roman", Times, serif;
}
footer a {
  text-decoration: none;
  color: #1e60b1;
  font-size: 1.5vw;
  font-family: "Times New Roman", Times, serif;
}
footer a:hover {
  color: #68a1e6;
}
footer a img {
  height: 2vw;
  margin: 1%;
}
footer a img:hover {
  transform: scale(1.3, 1.3);
  transition: ease 0.3s;
}
footer #subida {
  display: block;
  text-align: center;
  margin-top: 2%;
}
footer #subida img {
  margin: auto;
}

.listas {
  margin: 0 5%;
}
.listas #cardBox {
  color: wheat;
  text-align: center;
  font-family: "Henny Penny", cursive;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  margin-bottom: 7%;
}
.listas #cardBox:hover .card {
  transform: rotateY(180deg);
}
.listas #cardBox .card {
  background-color: unset;
  color: wheat;
  font-size: 1.5vw;
  line-height: 175%;
  list-style: none;
  text-align: center;
  cursor: default;
  height: 30vw;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}
.listas #cardBox .card h3 {
  font-size: 1.5vw;
  line-height: 150%;
  margin-top: 7%;
}
.listas #cardBox .card p {
  text-align: justify;
  font-size: 1.3vw;
  line-height: 120%;
  padding: 10%;
  margin-bottom: 15%;
  color: #040d18;
  background-color: wheat;
  font-family: "Times New Roman", Times, serif;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.listas #cardBox .card img {
  height: 20vw;
  padding-top: 25%;
  display: block;
  margin: auto;
}
.listas #cardBox .card .front, .listas #cardBox .card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: wheat;
  display: block;
  font-size: 1.5vw;
  height: 100%;
  padding: 2%;
  position: absolute;
  text-align: center;
  width: 100%;
  border-radius: 7px;
}
.listas #cardBox .card .back {
  transform: rotateY(180deg);
  background-color: #051221;
}
.listas #cardBox .card .back a {
  font-family: "Henny Penny", cursive;
  padding: 3%;
  color: wheat;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.5vw;
  transition: all 0.2s ease 0s;
}
.listas #cardBox .card .back a:hover {
  background: wheat;
  color: #040d18;
}
.listas #cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 2s 1;
}
.listas #cardBox:nth-child(3) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 2s 1;
}
.listas #cardBox:nth-child(4) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 2s 1;
}
.listas #cardBox:nth-child(5) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 2s 1;
}
.listas #cardBox:nth-child(6) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 2s 1;
}
.listas #cardBox:nth-child(7) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 2s 1;
}
.listas #cardBox:nth-child(8) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 2s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes giro {
  from {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
.fondoLibros {
  background-color: #040d18;
  background-image: url("../imagenes/fondoLibros.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.fondoLibros h2 {
  font-size: 4vw;
  color: wheat;
  font-family: "Henny Penny", cursive;
  text-align: center;
  background-color: #040d18;
}

.libros {
  padding: 10% 0 30% 0;
}

@media screen and (max-width: 900px) {
  nav {
    padding: 5% 0;
  }
  nav ul li a {
    font-size: 2.5vw;
  }
  footer {
    padding: 4% 0 8% 0;
  }
  footer h6 {
    font-size: 3vw;
  }
  footer a {
    font-size: 2.5vw;
  }
  footer a img {
    height: 4vw;
    margin: 2%;
  }
  .fondoLibros {
    background-image: url("../imagenes/librosTablet.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card .back a {
    font-size: 2vw;
  }
  .card h3 {
    font-size: 2vw;
  }
  .card p {
    font-size: 2vw;
  }
  .card img {
    height: 30vw;
  }
  #series {
    font-size: 6vw;
  }
}
@media screen and (max-width: 600px) {
  nav {
    padding: 7% 0;
  }
  nav ul li a {
    font-size: 3.5vw;
    color: red;
  }
  footer {
    padding: 15% 0 20% 0;
    margin-top: 20%;
  }
  footer h6 {
    font-size: 3.5vw;
  }
  footer a {
    font-size: 3.5vw;
  }
  footer a img {
    height: 5.5vw;
    margin: 3%;
  }
  .fondoLibros {
    background-image: url("../imagenes/librosCelular.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card .back a {
    font-size: 3vw;
  }
  .card h3 {
    font-size: 3vw;
  }
  .card {
    height: 65vw;
  }
  .card img {
    height: 40vw;
  }
  .card p {
    font-size: 3vw;
  }
  #series {
    font-size: 9vw;
  }
}

/*# sourceMappingURL=style.css.map */
