* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #040d18;
    background-image: url("../imagenes/fondoEstrellas.png");
    background-position: center center;
    background-size: 100%;
    background-attachment: fixed;
    font-family: 'Times New Roman', Times, serif;
    
}


@import './base/var';
@import './base/list';
@import './base/maps';
@import './base/mixin';
@import './base/extend';
@import './componentes/navfooter.scss';
@import './componentes/inicio.scss';
@import './componentes/lpp.scss';
@import './componentes/libros.scss';
@import './componentes/personajes.scss';
@import './componentes/jk.scss';
@import './componentes/tienda.scss';