/*
Próximos arreglos:

- Arreglar nesting

*/

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #040d18;
    background-image: url("../imagenes/fondoEstrellas.png");
    background-position: center center;
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

/*Barra de navegación*/
header{
    padding-bottom: 2% ;
}

nav{
    padding: 2% 0;
    margin: 0;
}

nav:hover {
    background-color: #040d18;
    transition: all ease-in-out 0.5s;
}

nav ul{
    justify-content: center;
    display: flex;
    padding: 0;
}

nav ul li{
    margin: 0 3%;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
}

nav ul li:hover{
    transform: scale(1.1,1.1);
    transition: ease 0.3s;
}

nav ul li a:hover{
    color: wheat;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: wheat;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


nav ul li a{
    color: wheat;
    text-decoration: none;
    font-size: 1.7vw;
}
@media screen and (max-width: 900px){
    nav ul li a{
        font-size: 2.3vw;
    }
    nav{
        padding: 5% 0;

    }
}


@media screen and (max-width: 600px){
    nav ul li a{
        font-size: 3.5vw;
    }
    nav{
        padding: 7% 0;
    }
}

/*Footer*/
footer{
    display: block;
    background-color: #040d18;
    margin-top: 7%;
    padding: 3% 0 7% 0;
    text-align: center;
}

footer h6{
    color: wheat;
    font-size: 1.5vw;
    display: inline-block;
    margin-bottom: 3%;
    font-family: 'Times New Roman', Times, serif;
}

footer a{
    text-decoration: none;
    color: #298ab0;
    font-size: 1.5vw;
    font-family: 'Times New Roman', Times, serif;
    
}

footer a img{
    height: 2vw;
    margin: 1%;
}

footer a img:hover{
    transform: scale(1.3,1.3);
    transition: ease 0.3s;
}

footer #subida {
    display: block;
    text-align: center;
    margin-top: 2%;
}

footer #subida img{
    margin: auto;
}

@media screen and (max-width: 900px){
    footer h6{
        font-size: 3vw;
    }
    footer a{
        font-size: 2.5vw;
    }
    footer a img{
        height: 4vw;
        margin: 2%;
    }
    footer{
        padding: 4% 0 8% 0;
        }
}

@media screen and (max-width: 600px){
    footer h6{
        font-size: 3.5vw;
    }
    footer a{
        font-size: 3.5vw;
    }
    footer a img{
        height: 5.5vw;
        margin: 3%;
    }
    footer{
    padding: 15% 0 20% 0;
    margin-top: 20%;
    }
} 







/*Index*/

/*Barra de navegación del index*/
.barraInicio {
    background-image: url("../imagenes/fondoInicio.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #040d18;
}


/*Inicio del index*/

.inicio h1 {
    color: wheat;
    text-align: center;
    font-size: 9vw;
    font-family: 'Henny Penny', cursive;
    padding-top: 8%;
    margin-top: 5%;
}

.inicio h2{
    color: wheat;
    margin-left: 55%;
    font-size: 8vw;
    font-family: 'Henny Penny', cursive;
}

/*Carrusel index*/
.carrusel{
    margin: 10% 0;
}
 
/*Datos curiosos index*/

.datosCuriosos h2{
    color: wheat;
    font-size: 5vw;
    text-align: center;
    margin: 10% 0 3% 0;
    font-family: 'Henny Penny', cursive;
}

#ordenDatos{
    align-items: stretch;
}

.dato{
    background-color: #081521;
    margin: 3%;
}

#ordenDatos p{
    padding: 5%;
    color: wheat;
    font-size: 1.7vw;
    margin: 0 5%;
    line-height: 150%;
    text-align: center;
}

#ordenDatos img{
    display: block;
    height: 15vw;
    margin: 5% auto;
    
}

@media screen and (max-width: 900px){
    .barraInicio {
        background-image: url("../imagenes/castilloTablet.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color:#040d18 ;
    }
    .inicio{
        padding: 125px 0;
    }
    .inicio h1{
        font-size: 11vw;
    }
    .inicio h2{
        font-size: 10vw;
    }
    .datosCuriosos h2{
        font-size: 7vw;
    
    }
    #ordenDatos p{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px){
    .barraInicio {
        background-image: url("../imagenes/castilloCelular.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #00415B;
    }
    .inicio{
        padding-bottom: 160px 0;
    }
    .inicio h1{
        font-size: 14vw;
    }
    .inicio h2{
        font-size: 13vw;
    }
    .datosCuriosos h2{
        font-size: 10vw;
    
    }
    #ordenDatos p{
        font-size: 3.5vw;
    }
    #ordenDatos img{
        height: 35vw;
    }
}








/*Libros y peliculas */

#cardBox {
    color: wheat;
    text-align: center;
    font-family: 'Henny Penny', cursive;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    margin-bottom: 5%;
  }

  
#cardBox:hover .card{
    transform: rotateY( 180deg);
  }
  
.card {
    background-color: unset;
    color: wheat;
    font-size: 1.5vw;
    line-height: 175%;
    list-style: none;
    text-align: center;
    cursor: default;
    height: 30vw;
    width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
  }

.card h3{
    font-size: 1.5vw;
    line-height: 150%;
    margin-top: 7%;
  }

.card p {
    text-align: justify;
    font-size: 1.3vw;
    line-height: 120%;
    padding: 10%;
    margin-bottom: 15%;
    color: #040d18;
    background-color: wheat;
    font-family: 'Times New Roman', Times, serif;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }

.card .imagen{
    display: flex;
    align-content: center;
  }

.card img{
    height: 20vw;
    padding-top: 7%;
    display: block;
    margin: auto;
  }
  
.card .front, .card .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: wheat;
    display: block;
    font-size: 1.5vw;
    height: 100%;
    padding: 2%;
    position: absolute;
    text-align: center;
    width: 100%;
    border-radius: 7px;
  }
  
 
.card .back {
    transform: rotateY( 180deg);
  }
  
.card .back a {
    font-family: 'Henny Penny', cursive;
    padding: 3%;
    color: wheat;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.5vw;
    transition: all 0.2s ease 0s;
  }
  
.card .back a:hover {
    background: wheat;
    color: #040d18;
  }
  
#cardBox .card .back {
    background-color: #081521;
  }
  

#cardBox:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 2s 1;
  }
  
#cardBox:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
  }
  
#cardBox:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2s 1;
  }

#cardBox:nth-child(5) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2s 1;
  }
  
#cardBox:nth-child(6) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2s 1;
  }

#cardBox:nth-child(7) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2s 1;
  }

#cardBox:nth-child(8) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2s 1;
  }

  
@-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
@keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  

@media screen and (max-width: 900px){

    .card img {
        height: 18vw;
        
    }
    #series{
        font-size: 6vw;
    }

}

@media screen and (max-width: 650px){
    .card img{
        height: 28vw;
    }
    #series{
        font-size: 9vw;
    }
}



/*Personajes*/

.listas ul {
    padding: 0;
}

.listas ul li{
    color: wheat;
    font-size: 1.5vw;
    list-style: none;
    text-align: center;
}

.listas ul li img {
    height: 15vw;
    padding: 20% 5% 0 5%;
    display: block;
    margin: auto;
}

#series {
    display: block;
    font-size: 4vw;
    margin: 10% 0; 
    color: wheat;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

@media screen and (max-width: 900px){
    .listas ul li{
        font-size: 2vw;
    }

    .listas ul li img {
        height: 18vw;
        
    }
    #series{
        font-size: 6vw;
    }

}

@media screen and (max-width: 650px){
    .listas ul li{
        font-size: 3vw;
    }
    .listas ul li img {
        height: 28vw;
    }
    #series{
        font-size: 9vw;
    }
}



.listas .seriePrincipal, .listas .serieAF, .listas .serieHogwarts, .listas .listaPersonajes{
    margin: 8%;
}

.listas .seriePrincipal li, .listas .serieAF li, .listas .serieHogwarts li, .listas .listaPersonajes li{
    margin: 3%;
}


@media screen and (max-width: 800px){
    
    .listas ul li img {
        padding-top: 20%;
    }
    
}






/*Libros*/
.fondoLibros{
    background-color: #040d18;
    background-image: url("../imagenes/fondoLibros.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.libros{
    padding: 10% 0 30% 0;
}

.fondoLibros h2{
    font-size: 4vw;
    color: wheat;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    background-color: #040d18;

}
 

/*Peliculas*/
.fondoPeliculas{
    background-color: #040d18;
    background-image: url("../imagenes/fondoPeliculas.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.peliculas{
    padding: 20% 0;
}

.fondoPeliculas h2{
    font-size: 4vw;
    color: wheat;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    background-color: #040d18;

}


/*Personajes*/
.fondoPersonajes{
    background-color: #040d18;
    background-image: url("../imagenes/fondoPersonajes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.personajes{
    padding: 20% 0;
}

.fondoPersonajes h2{
    font-size: 4vw;
    color: wheat;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    background-color: #040d18;

}

@media screen and (max-width: 900px){
    .fondoLibros{
        background-image: url("../imagenes/librosTablet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPeliculas{
        background-image: url("../imagenes/PeliculasTablets.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPersonajes{
        background-image: url("../imagenes/personjesTablet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .libros, .peliculas, .personajes{
        padding: 190px 0;
    }
    .fondoLibros h2, .fondoPeliculas h2, .fondoPersonajes h2{
        font-size: 6vw;
        
        
        
    }
}

@media screen and (max-width: 600px){
    .fondoLibros{
        background-image: url("../imagenes/librosCelular.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPeliculas{
        background-image: url("../imagenes/peliculasCelular.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPersonajes{
        background-image: url("../imagenes/PersonajesCelures.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .libros, .peliculas, .personajes{
        padding: 230px 0;
    }
    .fondoLibros h2, .fondoPeliculas h2, .fondoPersonajes h2{
        font-size: 9vw;
    
    }
}







/*J.K. Rowling*/

.jk h2{
    font-size: 4vw;
    margin: 5% 0;
    color: wheat;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}
.jk img{
    display: block;
    height: 50vw;
    margin: 0 auto;
}

.jk p{
    font-size: 1.7vw;
    margin: 5% 10% ;
    color: wheat;
    line-height: 200%;
    text-align: center;
}

.jk ul{
    color: wheat;
    font-size: 1.5vw;
    list-style:square;
}

.jk ul li{
    margin: 2% 15%;
    line-height: 200%;
    text-align: center;
}

@media screen and (max-width: 900px){
    .jk h2{
        font-size: 6vw;
    
    }

    .jk img{
        height: 70vw;
    }

    .jk p{
        font-size: 2.5vw;
    }
    .jk ul li{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px){
    .jk h2{
        font-size: 9vw;
    
    }
    .jk img{
        height: 90vw;
    }
    .jk p{
        font-size: 3vw;
    }
    .jk ul li{
        font-size: 3vw;
    }
}