/*
Próximos arreglos:

- Poner imágenes responsive

*/

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #040d18;
    background-image: url("../imagenes/fondoEstrellas.png");
    background-position: center center;
    background-size: 100%;
}

/*Barra de navegación*/
header{
    padding-bottom: 2% ;
}

nav{
    padding: 2% 0;
    margin: 0;
}

nav:hover {
    background-color: #040d18;
    transition: all ease-in-out 0.5s;
}

nav ul{
    justify-content: center;
    display: flex;
}

nav ul li{
    padding: 0 3%;
    list-style: none;
}

nav ul li:hover{
    transform: scale(1.1,1.1);
    transition: ease 0.3s;
    text-decoration: underline;
    
}

nav ul li a{
    color: wheat;
    text-decoration: none;
    font-size: 1.5vw;
}
@media screen and (max-width: 900px){
    nav ul li a{
        font-size: 2.3vw;
    }
    nav{
        padding: 5% 0;

    }
}


@media screen and (max-width: 600px){
    nav ul li a{
        font-size: 3.5vw;
    }
    nav{
        padding: 7% 0;
    }
}

/*Footer*/
footer{
    display: block;
    background-color: #040d18;
    margin-top: 7%;
    padding: 3% 0 7% 0;
    text-align: center;
}

footer h6{
    color: wheat;
    font-size: 1.5vw;
    display: inline-block;
    margin-bottom: 3%;
}

footer a{
    text-decoration: none;
    color: #298ab0;
    font-size: 1.5vw;
    
}

footer a img{
    height: 2vw;
    margin: 1%;
}

footer #subida {
    display: block;
    text-align: center;
    margin-top: 2%;
}

footer #subida img{
    margin: auto;
}

@media screen and (max-width: 900px){
    footer h6{
        font-size: 3vw;
    }
    footer a{
        font-size: 2.5vw;
    }
    footer a img{
        height: 4vw;
        margin: 2%;
    }
    footer{
        padding: 4% 0 8% 0;
        }
}

@media screen and (max-width: 600px){
    footer h6{
        font-size: 3.5vw;
    }
    footer a{
        font-size: 3.5vw;
    }
    footer a img{
        height: 5.5vw;
        margin: 3%;
    }
    footer{
    padding: 15% 0 20% 0;
    margin-top: 20%;
    }
} 







/*Index*/

/*Barra de navegación del index*/
.barraInicio {
    
    background-image: url("../imagenes/fondoInicio.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #00415B;
}


/*Inicio del index*/
.inicio{
    padding-bottom: 10% ;
}

.inicio h1 {
    color: wheat;
    text-align: center;
    font-size: 9vw;
    font-family: 'Henny Penny', cursive;
    padding-top: 8%;
}

.inicio h2{
    color: wheat;
    margin-left: 55%;
    font-size: 8vw;
    font-family: 'Henny Penny', cursive;
}

/*Carrusel index*/
.carrusel{
    margin: 10% 0;
}

.carrusel img{
    display: block;
    width: 50%;
    margin: auto;
   
}
 
/*Datos curiosos index*/

.datosCuriosos h2{
    color: wheat;
    font-size: 5vw;
    text-align: center;
    margin: 10% 0 3% 0;
    font-family: 'Henny Penny', cursive;
    grid-area: h2;
}
 
#ordenDatos{
    display: grid;
    justify-content: center;
    align-items:stretch;
    margin: 0 7%;
    gap: 2%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
    "h2 h2"
    "d1 d2"
    "d3 d4";
}

.dato1{
    grid-area: d1;
    background-color: #081521;
    
}

.dato2{
    grid-area: d2;
    background-color: #081521;
}

.dato3{
    grid-area: d3;
    background-color: #081521;
}

.dato4{
    grid-area: d4;
    background-color: #081521;
}

#ordenDatos p{
    padding: 5%;
    color: wheat;
    font-size: 1.7vw;
    margin: 0 5%;
    line-height: 150%;
    text-align: center;
}

#ordenDatos img{
    display: block;
    height: 18vw;
    margin: 5% auto;
    
}

@media screen and (max-width: 900px){
    .barraInicio {
        background-image: url("../imagenes/castilloTablet.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #00415B;
    }
    .inicio{
        padding: 125px 0;
    }
    .inicio h1{
        font-size: 11vw;
    }
    .inicio h2{
        font-size: 10vw;
    }
    .carrusel img{
        width: 70%;
       
    }
    .datosCuriosos h2{
        font-size: 7vw;
    
    }
    #ordenDatos p{
        font-size: 3vw;
    
    }
}
@media screen and (max-width: 600px){
    .barraInicio {
        background-image: url("../imagenes/castilloCelular.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        background-color: #00415B;
    }
    .inicio{
        padding-bottom: 160px 0;
    }
    .inicio h1{
        font-size: 14vw;
    }
    .inicio h2{
        font-size: 13vw;
    }
    .carrusel img{
        width: 85%;
       
    }
    .datosCuriosos h2{
        font-size: 10vw;
    
    }
    #ordenDatos p{
        font-size: 3.5vw;
    }
    #ordenDatos img{
        height: 35vw;
    }
    #ordenDatos{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr ;
        grid-template-areas: 
        "h2"
        "d1"
        "d2"
        "d3"
        "d4";
    }
}








/*Libros, peliculas y personajes*/


.listas ul li{
    color: wheat;
    font-size: 1.5vw;
    list-style: none;
    text-align: center;
}

.listas ul li img {
    height: 15vw;
    padding: 20% 5% 0 5%;
    display: block;
    margin: auto;
}

#series {
    display: block;
    font-size: 4vw;
    margin: 10% 0; 
    color: wheat;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}

@media screen and (max-width: 900px){
    .listas ul li{
        font-size: 2.5vw;
    }

    .listas ul li img {
        height: 30vw;
        
    }
    #series{
        font-size: 6vw;
    }

}

@media screen and (max-width: 600px){
    .listas ul li{
        font-size: 3vw;
    }
    .listas ul li img {
        height: 35vw;
    }
    #series{
        font-size: 9vw;
    }
}

.listas ul ul:nth-child(1){
    grid-area: uno;
}

.listas ul ul:nth-child(2){
    grid-area: dos;
}

.listas ul ul:nth-child(3){
    grid-area: tre;
}

.listas ul ul:nth-child(4){
    grid-area: cuatro;
}

.listas ul ul:nth-child(5){
    grid-area: cinco;
}

.listas ul ul:nth-child(6){
    grid-area: seis;
}

.listas ul ul:nth-child(7){
    grid-area: siete;
}

.listas ul ul:nth-child(8){
    grid-area: ocho;
}

.listas ul ul:nth-child(9){
    grid-area: nueve;
}
.listas ul ul:nth-child(10){
    grid-area: diez;
}
.listas ul ul:nth-child(11){
    grid-area: once;
}
.listas ul ul:nth-child(12){
    grid-area: doce;
}

.listas .seriePrincipal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20% 5%; 
    grid-template-areas:
    "uno dos tres cuatro"
    "cinco seis siete ocho";
    margin: 10%;
    
}

@media screen and (max-width: 800px){
    .listas .seriePrincipal{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        gap: 5% 5%; 
        grid-template-areas:
        "uno dos"
        "tres cuatro"
        "cinco seis"
        "siete ocho";
        margin: 10%;
    }
    .listas ul li img {
        padding-top: 20%;
    }
    
}



.listas .serieAF{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20% 5%;
    grid-template-areas:
    "uno dos tres";
    margin: 10%;
    
}

.listas .serieHogwarts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20% 5%;
    grid-template-areas:
    "uno dos tres";
    margin: 10%;
    
}

@media screen and (max-width: 500px){
    .listas .serieAF, .listas .serieHogwarts{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 12% 5%; 
        grid-template-areas:
        "uno"
        "dos"
        "tres";
        margin: 10%;
       
}
}










/*Libros*/
.fondoLibros{
    background-color: #040d18;
    background-image: url("../imagenes/fondoLibros.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}


.libros{
    padding: 10% 0 30% 0;
}

.fondoLibros h2{
    font-size: 4vw;
    color: wheat;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    background-color: #040d18;

}
 

/*Peliculas*/
.fondoPeliculas{
    background-color: #040d18;
    background-image: url("../imagenes/fondoPeliculas.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.peliculas{
    padding: 20% 0;
}

.fondoPeliculas h2{
    font-size: 4vw;
    color: wheat;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    background-color: #040d18;

}


/*Personajes*/
.fondoPersonajes{
    background-color: #040d18;
    background-image: url("../imagenes/fondoPersonajes.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}


.personajes{
    padding: 20% 0;
}

.fondoPersonajes h2{
    font-size: 4vw;
    color: wheat;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    background-color: #040d18;

}

@media screen and (max-width: 900px){
    .fondoLibros{
        background-image: url("../imagenes/librosTablet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPeliculas{
        background-image: url("../imagenes/PeliculasTablets.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPersonajes{
        background-image: url("../imagenes/personjesTablet.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .libros, .peliculas, .personajes{
        padding: 190px 0;
    }
    .fondoLibros h2, .fondoPeliculas h2, .fondoPersonajes h2{
        font-size: 6vw;
        
        
        
    }
}

@media screen and (max-width: 600px){
    .fondoLibros{
        background-image: url("../imagenes/librosCelular.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPeliculas{
        background-image: url("../imagenes/peliculasCelular.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .fondoPersonajes{
        background-image: url("../imagenes/PersonajesCelures.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .libros, .peliculas, .personajes{
        padding: 230px 0;
    }
    .fondoLibros h2, .fondoPeliculas h2, .fondoPersonajes h2{
        font-size: 9vw;
    
    }
}

.listas .listaPersonajes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20% 5%;
    grid-template-areas:
    "uno dos tres cuatro"
    "cinco seis siete ocho"
    "nueve diez once doce";
    margin: 10%;
    
}

@media screen and (max-width: 800px){
    .listas .listaPersonajes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 5% 5%; 
        grid-template-areas:
        "uno dos"
        "tres cuatro"
        "cinco seis"
        "siete ocho"
        "nueve diez"
        "once doce";
        margin: 10%;
    }
    
}






/*J.K. Rowling*/

.jk h2{
    font-size: 4vw;
    margin: 5% 0;
    color: wheat;
    text-align: center;
    font-family: 'Henny Penny', cursive;
}
.jk img{
    display: block;
    height: 50vw;
    margin: 0 auto;
}

.jk p{
    font-size: 1.7vw;
    margin: 5% 10% ;
    color: wheat;
    line-height: 200%;
    text-align: center;
}

.jk ul{
    color: wheat;
    font-size: 1.5vw;
    list-style:square;
}

.jk ul li{
    margin: 2% 15%;
    line-height: 200%;
    text-align: center;
}

@media screen and (max-width: 900px){
    .jk h2{
        font-size: 6vw;
    
    }

    .jk img{
        height: 70vw;
    }

    .jk p{
        font-size: 2.5vw;
    }
    .jk ul li{
        font-size: 2.5vw;
    }
}

@media screen and (max-width: 600px){
    .jk h2{
        font-size: 9vw;
    
    }
    .jk img{
        height: 90vw;
    }
    .jk p{
        font-size: 3vw;
    }
    .jk ul li{
        font-size: 3vw;
    }
}